
* {
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px 15px;
    font-size: 17px;
    padding: 8px;
}
.container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid grey;
    border-radius: 4px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid grey;
    border-radius: 4px;
    margin: 10px;
}

fieldset {
    background-color: #ffff;
    border: 1px solid grey;
}
.main-heading {
    text-align: center;
}
input[type="submit"]{
    background-color: #4daea1;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover{
    background-color: #caf4ca;
}
